<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.capstoneproject.bookmark">

    <dist:module
        dist:instant="false"
        dist:title="Bookmark">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>


    <application
        android:fullBackupContent="true"
        >
        <activity android:name=".BookmarkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="capstoneproject"
                    android:host="bookmark"/>
            </intent-filter>
        </activity>
    </application>
</manifest>